.font-1-nav{
  font: 400 1rem/1 "Ropa Sans", sans-serif;
}

.font-1-intro{
  font: 700 4.5rem/1.4 "Poppins", sans-serif;
}

.font-2-intro{
  font: 400 1.4rem/1.5 "Montserrat", sans-serif;
}

.font-button1-intro{
  font: 400 1.125rem/1 "Ropa Sans", sans-serif;
}

.font-button2-intro{
  font: 400 1rem/1 "Ropa Sans", sans-serif;
}

.font-1-bestSelling{
  font: 700 3rem/1.5 "Poppins", sans-serif;
}

.font-2-bestSelling{
  font: 400 1.25rem/1.5 "Montserrat", sans-serif;
}

.font-product-bestSelling{
  font: 700 1.75rem/1 "Red Rose", sans-serif;
}

.font-productValue-bestSelling{
  font: 600 1.5rem/1 "Montserrat", sans-serif;
}

.font-product-review{
  font: 400 0.875rem/1 "Montserrat", sans-serif;
}

.font-1-footer{
  font: 500 0.875rem/1 "Montserrat", sans-serif;
}

.font-2-footer{
  font: 400 1.125rem/1 "Montserrat", sans-serif;
}

.font-rodape{
  font: 400 0.75rem/1 "Montserrat", sans-serif;
}
