.about-bg {
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
}

.about-bg::before{
  content: "";
  position: absolute;
  left: 2%;
  top: 75%;
  width: 33px;
  height: 31px;
  background: url("../../images/itens/Ellipse1.svg");
}

.about-bg::after{
  content: "";
  position: absolute;
  left: 40%;
  top: 88%;
  width: 34px;
  height: 38px;
  background: url("../../images/itens/Ellipse2.svg");
}


.about {
  display: grid;
  gap: 0px 150px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "h1 img"
    "p  img"
    "button img"
    "arrow arrow";
  grid-template-rows: auto auto auto 1fr;
  place-items: start;
  position: relative;
}

.about p {
  display: grid;
  margin-top: 24px;
  align-self: start;
}

.about .dashed-arrow {
  justify-self: start;
  margin-top: 24px;
  margin-left: 100px;
  position: relative;
}

.about .scroll{
  position: absolute; 
  left: 50%;
  bottom: 120px;
  animation: scrollbottom .5s ease-in-out 0s infinite alternate; 
}

@keyframes scrollbottom { 
  from {
    bottom: 110px;
  }
}

/* button */

.btn-list {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 40px;
  gap: 17px;
  justify-self: start;
  align-self: start;
}

.btn-1,
.btn-2 {
  cursor: pointer;
  padding: 8px 16px;
}

.btn-1 {
  background: var(--cor-3);
  color: var(--cor-0);
  border: 1px solid var(--cor-3);
  justify-self: center;
  align-self: center;
}

.btn-1:hover {
  background: #ff8955;
}

.btn-2 {
  display: flex;
  border: 1px solid var(--cor-2);
  position: relative;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.btn-2::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../images/itens/play.svg") no-repeat;
}

.btn-2:hover {
  border-color: var(--cor-3);
}

/* Intro */

.intro-picture {
  grid-area: img;
}

.intro-picture img {
  object-fit: cover;
  height: 100%;
}

@media (max-width:1500px){
  .about-bg::before{
    display: none;
  }
  
  .about-bg::after{
    display: none;
  }
}

@media (max-width:1300px){
 

  .about .scroll{
    display: none;
  }
}

@media (max-width:1150px){
  
  .about{
    gap: 0px 45px;
  }
  
  .about h1{
    font-size: 3.8rem;
  }

  .about p{
    font-size: 1.2rem;
  }
}

@media (max-width:800px){
  
  .about{
    place-items: center;
  }

  /* .about h1{
    font-size: 3rem;
  } */
  
  .about .dashed-arrow {
    justify-self: center;
    grid-column: 1/-1;
  }
  
  .btn-list{
    justify-self: center;
    grid-column: 1/-1;
  }
}

@media (max-width: 700px){
  .intro-picture{
    display: none;
  }
 
  .about{
    grid-template-columns: 1fr;
    grid-template-areas:
      "h1 h1"
      "p  p"
      "button button"
      "arrow arrow";
      gap: 0px;
  }

  .about h1, .about p{
    text-align: center;
  }

}

@media (max-width: 400px){

  .about-bg {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .about .dashed-arrow{
    display: none;
  }
}
